USE [ScraperFencing]
GO
/****** Object:  Table [dbo].[Comany]    Script Date: 08/18/2016 14:48:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comany](
	[ComanyID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[State] [nvarchar](max) NULL,
	[ComanyURL] [nvarchar](max) NULL,
 CONSTRAINT [PK_Comany] PRIMARY KEY CLUSTERED 
(
	[ComanyID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Comany] ON
INSERT [dbo].[Comany] ([ComanyID], [CompanyName], [Email], [State], [ComanyURL]) VALUES (11, N'4 Corners Fencings', NULL, N'Alabama', N'http://www.manta.com/c/mm55h75/4-corners-fencings')
INSERT [dbo].[Comany] ([ComanyID], [CompanyName], [Email], [State], [ComanyURL]) VALUES (12, N'A A Contracting Fencing Inc', NULL, N'Alabama', N'http://www.manta.com/c/mm55vns/a-a-contracting-fencing-inc')
INSERT [dbo].[Comany] ([ComanyID], [CompanyName], [Email], [State], [ComanyURL]) VALUES (13, N'Abc Ornametal Iron LLC', NULL, N'Alabama', N'http://www.manta.com/c/mtmn8h1/abc-ornametal-iron-llc')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
SET IDENTITY_INSERT [dbo].[Comany] OFF
